@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-Heavy.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-HeavyIt.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-HeavyIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-BoldIt.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-DemiIt.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-DemiIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-LightIt.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-MediumIt.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-Light.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-Medium.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-It.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-Thin.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro UltLight';
    src: url('../../assets/fonts/AvenirNextLTPro-UltLt.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-UltLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro UltLight';
    src: url('../../assets/fonts/AvenirNextLTPro-UltLtIt.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-UltLtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('../../assets/fonts/AvenirNextLTPro-ThinIt.woff2') format('woff2'),
        url('../../assets/fonts/AvenirNextLTPro-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

