$mobile-breakpoint:320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;


// Bandsite text color
$black:#323232;
$white:#FFFFFF;
$silver:#AFAFAF;
$mercury:#E1E1E1;
$alabaster:#FAFAFA;
$blue:#0095FF;
$divider:#004892;
$blue-hover:#0065AD;


