.main-video{
    overflow: auto;
    @extend .container;
    &__container{
        padding:0 1rem;
        @include tablet{
            padding:0 1.5rem;
        }  
        @include desktop{
            padding-top:0;
            padding-left:11.25rem;
            padding-right: 0;
            margin-right:0;
        }    
    }

    &__title{
        margin:0 auto;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
        color:$black;   
        padding-top: 2rem;   
        
        @include tablet{
            padding-top:3rem;
            font-size: 2.25rem;
            line-height:2.75rem;
            font-weight: 600;
        }
        @include desktop{
            padding-top:2.375rem;
        }
    }

    &__information{
        @include tablet{
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            display:flex;
            align-items: flex-start;
            justify-content: space-between;            
        } 

        @include desktop{
            padding-right: 2rem;
            padding-top:1rem;
        }        
    }

    &__content{
        display: flex;
        padding-top:1rem; 
        padding-bottom:2rem;

        @include tablet{
            padding:0;
            display:flex;
            align-items: baseline;                
        }
    }

    &__name{
        margin:0;
        font-size:0.875rem;
        line-height:1.375rem;
        font-weight: 600;
        color:$black;  
        padding-right:0.5rem;

        @include tablet{
            font-size:1.25rem;
            line-height:1.5rem;
            font-weight: 600;
        }
    }

    &__date{
        margin:0;
        font-size:0.875rem;
        line-height:1.375rem;
        font-weight: 500;
        color:$silver; 

        @include tablet{
            font-size: 1rem;
            line-height:1.5rem;
            font-weight: 500;
        }       
    }

    &__info{
        display: flex;
        padding-bottom:1.5rem;

        @include tablet{
            padding:0;
        }
    }

    &__views{
        padding-right:1rem;
        display: flex;

        @include tablet{
            padding-right:1.5rem;
        }
    }

    &__viewsicon{
        margin:0;
        padding-right:0.5rem;
    }

    &__viewscount{
        margin:0;
    }

    &__likes{
        margin:0;
        display: flex;
    }

    &__likesicon{
        margin:0;
        padding-right:0.5rem;
    }

    &__likescount{
        margin:0;
    }

    &__divider{
        border:0;
        border-top: 0.0625rem solid $mercury;
        margin: 0;
    }

    &__description{
        margin:0;
        padding-top:1.5rem;
        padding-bottom:2.5rem;

        @include tablet{
            padding-top:2.5rem;
            padding-bottom:4rem;
            width:85%;
        }
        
        @include desktop{
            width:85%;
        }
    }
}
